home/user/.config/zsh/plugins/*

home/user/.config/nvim/plugin
home/user/.config/nvim/spell

home/user/.config/zsh/zshrc.d/*
!home/user/.config/zsh/zshrc.d/00_zhashd.sh

home/user/.zshenv.d/*
!home/user/.zshenv.d/.gitkeep

home/user/.config/zsh/.zcalc_history

.zcompdump
*.zwc

home/user/.ssh/*
!home/user/.ssh/config

home/user/.ipython/profile_default/*
!home/user/.ipython/profile_default/ipython_config.py

home/user/.gnupg/*
!home/user/.gnupg/gpg.conf

lazy-lock.json

home/user/.config/ranger/plugins
home/user/.termux/shell

home/user/.config/tmux/plugins
home/user/.config/tmux/local.conf

home/user/.tmux/*
!home/user/.tmux/dotfiles
!home/user/.tmux/sandbox
!home/user/.tmux/ssh
!home/user/.tmux/example-background-job

home/user/.config/git/local

home/user/.config/i3/config.d/*
!home/user/.config/i3/config.d/.gitkeep
