[Unit]
Description=SSH proxy
Requires=default.target
After=default.target

# ln -s % ~/.config/systemd/user
# systemctl --user enable --now ssh-proxy@server.vpn
[Service]
Type=simple
ExecStart=/usr/bin/ssh -o ControlMaster=no -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -vCTN -D 127.0.0.1:1080 %i
Restart=always
RestartSec=3
StartLimitInterval=0
StartLimitBurst=0

[Install]
WantedBy=default.target
