[Unit]
Description=Tmux server
Requires=default.target
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/tmux -D -L %u
ExecStop=/usr/bin/tmux -L %u kill-server
ExecReload=/usr/bin/tmux -L %u source-file %h/.config/tmux/tmux.conf
Restart=always

[Install]
WantedBy=default.target