[Unit]
Description=VNC Server for X11
Requires=default.target
After=default.target

# x11vnc -storepasswd ~/.vnc/passwd
[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/x11vnc -noxdamage -rfbauth %h/.vnc/passwd -display :0 -forever -reopen -shared
Restart=on-failure

[Install]
WantedBy=default.target
