[Unit]
Description=<DESCRIPTION>
After=network.target

[Service]
Type=simple
User=<username>
Group=<user_group>

ExecStart=<full_path_to_executor> <full_path_to_script>
ExecReload=<full_path_to_executor> <full_path_to_script>
WorkingDirectory=<full_path_to_executor_dir>
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
