[Unit]
Description=Wake-on-LAN for enp3s0
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/ethtool -s enp3s0 wol g
Type=oneshot

[Install]
WantedBy=multi-user.target
