[Unit]
Description=VNC Server for X11
Requires=graphical.target
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -noxdamage -rfbauth /var/run/vnc/passwd -display :0 -forever
Restart=on-failure

[Install]
WantedBy=graphical.target
